*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  height: 100%;
  font-size: 18px;
}
html,
body {
  padding: 0px;
  margin: 0px;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
